font-family: 'Open Sans Condensed', sans-serif;
link=<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald" rel="stylesheet">
font-family: 'Oswald', sans-serif;

<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans+Condensed:300|Oswald" rel="stylesheet">
font-family: 'Indie Flower', cursive;

<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans+Condensed:300|Oswald|Ubuntu" rel="stylesheet">
font-family: 'Ubuntu', sans-serif;
titulos

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
font-family: , cursive;


@font-face {
font-family: 'Lobster';
   src: url('fonts/lobster-regular.eot');
   src: url('fonts/original-lobster-regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/lobster-regular.woff') format('woff'),
        url('fonts/Lobster-Regular.ttf') format('truetype'),
        url('fonts/lobster-regular.svg#adlerRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

p {

Font-family:'Lobster';

}